DATABASE_URL=postgresql://neondb_owner:npg_VlrXZnOy93ha@ep-proud-breeze-ao91cwn1-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=y84qZ2xU81vx5eHkpRR5yuulnI3z1F2x2zGdISzWMRX